<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
 <link rel="stylesheet" href="{{ url_for('static', filename='styled.css') }}" />

<title>Login / Register</title>

</head>
<body>

<div class="container">
    <h2>Login to Existing Account</h2>
    {% if error %}<p class="message error">{{ error }}</p>{% endif %}
    {% if success %}<p class="message success">{{ success }}</p>{% endif %}

    <form method="POST" action="/login">
        <input type="text" name="username" placeholder="Enter Your Username" required><br>
        <input type="password" name="password" placeholder="Enter Your Password" required><br>
        <button type="submit">Login</button>
    </form>

    <h2>Create a New Account</h2>
    <form method="POST" action="/register">
        <input type="text" name="username" placeholder="Enter Your Username" required><br>
        <input type="password" name="password" placeholder="Create Your Password" required><br>
        <button type="submit">Register</button>
        <h2>Note : After registration , enter your usrname and password you created in the login system and you will be logged in</h2>
    </form>
</div>

</body>
</html>
